@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Poppins:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	/* background-color: var(--btn); */
}

:root {
	--sniglet-font: "Sniglet", sans-serif;
	--rubik: "Rubik", cursive;
	--light-black: #2e2c2caf;
	--bg-gradient: linear-gradient(to bottom, rgba(248, 237, 255, 0.5), rgba(248, 237, 255, 0.1));
	--nav-gradient: linear-gradient(to bottom, #dd2476, #ff512f);
	--nav-bg: #3D3B40;
	--btn: rgb(82, 92, 235);
	--btn-hover: rgb(54, 66, 232);
	--light-gray: rgba(255, 255, 255, 0.877);
}

#root {
	background: var(--bg-gradient) !important;
}

#logo {
	display: flex;
	align-items: center;
}

#imgLogo {
	height: 1.8rem;
	width: 1.8rem;
}

header a {
	font-family: var(--sniglet-font) !important;
	font-size: 0.9em;
}

#nav-list {
	margin: 0 1em;
	list-style: none;
}

header .nav-item {
	padding: 0 1em;
}

header .navbar-brand {
	padding-left: 2rem;
}

nav {
	/* background: #ff512f; */
	/* fallback for old browsers */
	/* background: var(--nav-gradient); */
	/* background: #3D3B40; */
	background: #3D3B40;
}


#main {
	margin-top: 1rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.form-container {
	position: relative;
	top: 3rem;
	max-width: 430px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin: 0 20px;
}

.form-container .forms {
	display: flex;
	align-items: center;
	height: 440px;
	width: 200%;
	transition: height 0.2s ease;
}


.form-container .form {
	width: 50%;
	padding: 10px 30px;
	background-color: #fff;
	transition: margin-left 0.18s ease;
}

.form-container.active .login {
	margin-left: -50%;
	opacity: 0;
	transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.form-container .signup {
	opacity: 0;
	transition: opacity 0.09s ease;
}

.form-container.active .signup {
	opacity: 1;
	transition: opacity 0.2s ease;
}

.form-container.active .forms {
	height: 600px;
}

.form-container .form .title {
	position: relative;
	font-size: 27px;
	font-weight: 600;
}

.form .title::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background-color: var(--btn);
	border-radius: 25px;
}

.form .input-field {
	position: relative;
	height: 50px;
	width: 100%;
	margin-top: 20px;
}

.input-field input {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0 35px;
	border: none;
	outline: none;
	font-size: 16px;
	border-bottom: 2px solid #ccc;
	border-top: 2px solid transparent;
	transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
	border-bottom-color: var(--btn);
}

.input-field i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 23px;
	transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
	color: var(--btn);
}

.input-field i.icon {
	left: 0;
}

.input-field i.showHidePw {
	right: 0;
	cursor: pointer;
	padding: 10px;
}

.form .checkbox-text {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.checkbox-text .checkbox-content {
	display: flex;
	align-items: center;
}

.checkbox-content input {
	margin-right: 10px;
	accent-color: var(--btn);
}

.form .text {
	color: #333;
	font-size: 14px;
}

.form a.text {
	color: var(--btn);
	text-decoration: none;
}

.form a:hover {
	text-decoration: underline;
}

.form .button {
	margin-top: 35px;
}

.form .button input {
	border: none;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 6px;
	background-color: var(--btn);
	cursor: pointer;
	transition: all 0.3s ease;
}

.button input:hover {
	/* background-color: #265df2; */
	background-color: var(--btn-hover);
}

.form .login-signup {
	margin-top: 20px;
	text-align: center;
}


::-webkit-scrollbar {
	width: 8px;
} 

::-webkit-scrollbar-thumb {
	background-color: #3D3B40;
	border-radius: 1px;
}

::-webkit-scrollbar-track {
	background-color: #F8EDFF;
}
